ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
nav a{
    display: inline;
    text-decoration: none;
}
nav li{
    display: inline;
    text-decoration: none;
    color:coral;
}
.imagemopcoes {
    width: 30%;
}

.imagemfundo {
    width: 150%;
}
.html {
    background-image: "planodefundo.jpg";
    background-size:  100%;
}

