ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
nav a{
    display: inline;
    text-decoration: none;
}
nav li{
    display: inline;
    text-decoration: none;
    
}
.imagemopcoes {
    width: 30%;
}
.texto-principal{
    background-color:whitesmoke;
    text-align: justify;
    max-width: 20px;
}
body{

    background-color: gainsboro;
}
.imagemfundo {
    width: 150%;
}
.html {
    background-image: "planodefundo.jpg";
    background-size:  100%;
}

