ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagemopcoes {
    width: 50%;
}

html {
width: 2800px;
  height: 2100px;
  background-image: url(planodefundo.jfif);
  display: inline;
}